body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  background: none;
}

.canvas {
  width: 5in;
  height: 7in;
  border: solid #888 1px;
  border-radius: 16px;
}

.app {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.packlist {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.card {
  width: 100px;
  height: 140px;
  border: solid #888 1px;
  border-radius: 4px;
  background-color: #eee;
  margin: 5px;
}